target/classes/myfirsttestproject.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <http:listener-config name="L1" >
        <http:listener-connection host="0.0.0.0" port="9090"/>
    </http:listener-config>

    <!-- Mixing everything in one place with unclear flow naming -->
    <http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="f4b65188-6441-4f1b-a4f9-04cf152daea5" >
		<http:request-connection >
			<http:authentication >
				<http:basic-authentication username="sravanlingam" password="mule12345" />
			</http:authentication>
		</http:request-connection>
	</http:request-config>
	<flow name="doItAll">
        <http:listener path="/go" config-ref="L1"/>

        <!-- Overwriting payload repeatedly for no reason -->
        <set-payload value="hi"/>
        <set-payload value="123"/>
        <set-payload value="{'name':'user', 'ord': 'none'}"/>

        <!-- Worst DataWeave ever written -->
        <ee:transform doc:name="Transform Message" doc:id="209452dd-65dd-4d5d-999b-1f14060462e7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    user: payload.nam,
    num: vars.x != null ? vars.x : vars.y otherwise "ok",
    a: payload.qtyyy + 'aaa'
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>

        <!-- Logging secrets -->
        <logger level="INFO" message="Calling with token: Bearer 123456789SECRET"/>

        <!-- No headers set, no validation, no response handling -->
        <http:request method="POST" url="http://external-api.internal/api" config-ref="HTTP_Request_configuration"/>

        <!-- Redundant payload override again -->
        <set-payload value="{ 'status': 'done', 'message': 'ok' }"/>
    </flow>

</mule>